
   <div class="table-container">
    <div class="actions">
      <button class="add-button" (click)="addNew()">Add Employee</button>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>
            EMPLOYEE NAME
            <input class="search-field" [(ngModel)]="searchTerm.name" placeholder="Search Name" />
          </th>
          <th>
            CONTACT NO
            <input class="search-field" [(ngModel)]="searchTerm.contact" placeholder="Search Contact" />
          </th>
          <th>
            EMAIL
            <input class="search-field" [(ngModel)]="searchTerm.email" placeholder="Search Email" />
          </th>
          <th>
            ADDRESS
            <input class="search-field" [(ngModel)]="searchTerm.address" placeholder="Search Address" />
          </th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredEmployees; let i = index">
          <td>{{ employee.name }}</td>
          <td>{{ employee.contact }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.address }}</td>
          <td><button class="delete-button" (click)="deleteEmployee(i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }}</span>
      <button
        (click)="nextPage()"
        [disabled]="currentPage * itemsPerPage >= employees.length"
      >
        Next
      </button>
    </div>
  </div>
  